<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<link rel="stylesheet" href="/css/forms.css" />
<body>
  <main>
    <%- include('../includes/questions.ejs') %>
  </main>
<%- include('../includes/end.ejs') %>

