<footer class="main-footer">
    <ul class="footer-list">
      <li class="foooter-list__item">
          <a href="/">Home</a>    
      </li>
      <li class="footer-list__item">
          <a class="nav-link" href="/questions/add-question"> Ask! </a>
      </li>   
    </ul>
</footer>
</body>

</html>