<header class="main-header">
  <div class="nav-brand">
    <a href="/">Home</a>
  </div>
  <nav class="main-nav">
    <ul class="nav-list">
      <% if(isAuthenticated) { %>
        <li class="nav-list-item">
            <a class="nav-link" href="/my-profile"> Profile </a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="/questions/add-question"> Ask! </a>
        </li>
        <li class="nav-list-item">
          <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit">LogOut</button>
          </form>
        </li>
      <% } else { %>  
        <li class="nav-list-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <% } %>      
    </ul>
  </nav>
</header>
