.form {
  font-size: 1.2rem;
  font-family: "Lato";
}
.form input,
.form label,
.form textarea,
.form button, 
.form select {
  display: block;
  margin: 1rem 0;
  padding:0;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  outline: none;
  border: 1px solid #8bafe9;
  padding:10px;
  font-size: 1.2rem;
}

.form input:hover,
.form input:active,
.form select:hover,
.form select:active,
.form textarea:hover,
.form textarea:active {
  border: 1px solid #1B2432;
  background: #faf9f9;
} 

.form input {
  height: 1.3rem;
  padding:10px;
}

.form button {
  outline: none;
  padding: 1rem;
  border: 1px solid #8bafe9;
  background: none;
  border-radius: 20px;
  font-size:0.8rem;
}

.form button:hover,
.form button:active {
  background: #8bafe9;
  color:white 
}

.answers {
  width: 60%;
  margin: 0 auto;
  
}

.answers  h1 {
  text-align: center;
  font-weight: 100;
  border-bottom: 4px solid #ccc;
  padding-bottom: 20px;
}

.vote-text {
  display: flex;
  justify-content: space-between;
}

.likes {
  color: green;
}

.dislikes {
  color:red;
}

.vote-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 20%;
}

.like,.dislike {
  width: 20%;
  display: inline-block;
}


.question {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #8bafe9;
}

.user-email {
  font-style: italic;
  font-weight: bold;
}

@media (min-width: 40rem) {
  .form {
    width: 40%;
    margin: 0 auto;
  }
}