main {
  position: relative;
}
.categories {
  background: #1b2432;
  position: fixed;
  top: 5rem;
  left: auto;
  color: white;
  width: 20vw;
  border-radius: 20px;
}
.categories h1 {
  text-align: center;
  margin: 1rem auto;
  padding-bottom: 1rem;
  width: 90%;
  border-bottom: 1px solid #8bafe9;
}
.categories-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.categories-list a {
  text-decoration: none;
  color: white;
}

.categories-list__item {
  padding: 1rem 0;
}

.category-button {
  margin-top: 0.5rem;
}
.category-button a {
  border-top: 1px solid #8bafe9;
  border-bottom: 1px solid #8bafe9;
  padding: 0.5rem 0;
}

