main {
  position: relative;
}
.categories {
  background: #1b2432;
  position: fixed;
  top: 5rem;
  left: auto;
  color: white;
  width: 20vw;
  border-radius: 20px;
}
.categories h1 {
  text-align: center;
  margin: 1rem auto;
  padding-bottom: 1rem;
  width: 90%;
  border-bottom: 1px solid #8bafe9;
}
.categories-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.categories-list a {
  text-decoration: none;
  color: white;
}

.categories-list__item {
  padding: 1rem 0;
}

.category-button {
  margin-top: 0.5rem;
}
.category-button a {
  border-top: 1px solid #8bafe9;
  border-bottom: 1px solid #8bafe9;
  padding: 0.5rem 0;
}

.questions {
  margin-left: 25vw;
  /* margin-top: 13rem; */
}
.questions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.questions-list a {
  text-decoration: none;
  color: #1b2432;
}

.questions-list__item .question-title {
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 0;
  color: #8bafe9;
}

.question-content {
  margin-top: 0;
  padding: 2rem;
  border-top: 1px solid #1b2432;
  background: #fafafa;
}

.question-content .category-name {
  color: #8bafe9;
}
.posted-by {
  font-style: italic;
  font-weight: 100;
}
