@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
main {
  min-height: calc(100vh - 11rem);
}

.main-header {
  background: #1B2432;
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  align-items: center;
  
}

.main-header a {
  text-decoration: none;
  color: #8bafe9;
}

.nav-brand {
  padding-left: 1rem;
  vertical-align: middle;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  
  
}

.nav-list-item {
  padding-right: 1rem;
  
}
.nav-list-item form button {
  border:none;
  background: none;
  color: #8bafe9;
  /* vertical-align: middle; */
  font-size: 1.03rem;
  border: 2px solid #2C2B3C;
  padding: 0.5rem;
  border-radius: 20px;
}
.nav-list-item form button:hover {
  background: #2176AE;
  border-color: #2176AE;
  color: white;
}

main {
  width: 80%;
  margin: 0 auto;
}
.questions {
  margin-left: 25vw;
  /* margin-top: 13rem; */
}
.questions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.questions-list a {
  text-decoration: none;
  color: #1b2432;
}

.questions-list__item .question-title {
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 0;
  color: #8bafe9;
}

.question-content {
  margin-top: 0;
  padding: 2rem;
  border-top: 1px solid #1b2432;
  background: #fafafa;
}

.question-content .category-name {
  color: #8bafe9;
}
.posted-by {
  font-style: italic;
  font-weight: 100;
}


.main-footer {
  background: #8bafe9;
}
.main-footer a {
  text-decoration: none;
  color:#1B2432;
}
.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  list-style: none;
  margin: 0;
}

.footer-list li {
  margin-right: 1rem;
}
